 
<h4 style="margin-left:5px; margin-top: -70px;" > {{title}} </h4>

<mat-form-field style="margin-left:5px">
  <mat-select placeholder="Chart Codes" (change)="onChange($event.value)" [(ngModel)]="selectedChart">
    <mat-option *ngFor="let c of chartCodesList" 
      [value]="c.CHARTCODE + ': ' + c.DESCRIPTION" >
      {{ c.CHARTCODE }}: {{ c.DESCRIPTION}}
    </mat-option>
  </mat-select>
</mat-form-field>  

<div style="margin-left:5px;" class="btn-group">  

  <button type="button" 
    (click)="saveData()"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Save">
    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="showAlert('This module will be implemented soon!')"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Error">
    <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="openConfirmationDialog('01', gFormatID)"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Balance Sheet">
    <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="openConfirmationDialog('02', gFormatID)"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Income Statement">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="openConfirmationDialog('05', gFormatID)"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Cash Flow">
    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)=europeanFormat(gFormID);
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="European Format">
    <span class="glyphicon glyphicon-eur" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="showAlert('This module will be implemented soon!')"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Adding Minus Sign">
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="showAlert('This module will be implemented soon!')"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Merge Literal">
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="showAlert('This module will be implemented soon!')"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Reset">
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
  </button>
  <button type="button" 
    (click)="showTree()"
    class="btn btn-default" 
    data-toggle="tooltip" 
    title="Toggle Company Account View">
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  </button>

</div> 
<!-- End of btn-group div -->      
