.classGreen {
    color: green;
}

.classRed {
    color: red;
}

.classPink {
    color: rgb(241, 36, 180);
}

.classGrey {
    color: grey;
}

.classOrange {
    color: Orange;
}
  
.classBlue {
    color: blue;
}
  