.listbox-mapped-normal
{
    width: 350px;
    height: 80px;
    font-size: 12px;
    line-height: 0.7;
}

.listbox-mapped-bordered
{
    width: 350px;
    height: 80px;
    font-size: 12px;
    line-height: 0.7;
    border-color: rebeccapurple
}
