
.trv-matched-div {
    height: 300px;
    color: black;
    padding: 4px;
}
  
.trw-ftr-normal
{
    width: 350px;
    height: 400px;
}

.trw-ftr-item-label
{
    padding: 5px;
}

.trw-ftr-inline-block
{
    display: inline-block;
    margin: 3px 0;
}

.trw-ftr-button
{
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 25px;
}

.trw-ftr-cmb
{
    display: inline-block;
    width: 165px;
    margin: 0 5px;
}

.trw-ftr-cmb .iui-combobox-header
{
    height: 30px;
}

