.trw-lbl-edit
{
    width: 650px;
    height: 500px;
}
.trw-lbl-edit .iui-treeitem-expand-box
{
    margin-top: 4px;
}
.trw-lbl-item-content
{
    display: inline-block;
    padding: 3px 0;
}
.trw-lbl-editor
{
    padding: 3px 0;
}

.leftDiv {
    //width: 60%;
    height: 500px;
    color: black;
    //background-color:#404040;
    //background-color: red;
    padding: 4px;
    //overflow: hidden;
    //overflow-y: hidden;
  }
  