<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="container">

        <header>
            <h2>PTM Front-end</h2>
        </header>
                        
              
        <article>
            <p>
                The purpose of PTM is to match tabular financial data that 
                comes from Praedea to existing accounts in Wells. PTM first 
                matches the accounts programmatically based on the literal. 
                Then the user matches the remaining unmatched accounts or adds 
                new accounts. There are also various functions to allow the 
                user to manipulate the data to conform to Wells standards.
            </p>
            <h3>Documents:</h3>
            <p> Shows a list of documents with their status in a grid. 
                In this page, you can sort and search data by clicking on column headers.
            </p>
            <h3>Details:</h3>
            <p> You can select a document and then see the details of that document by selecting 
                Details in the menu bar. Details page shows a list of accounts for the selected 
                document with their amounts in a grid. 
            </p>
        </article>

         
        <footer>Copyright &copy; mergent.com</footer>

    </div>
</body>


</html>
